{% extends "main/basetypes.html" %}
{% load static %}


{% block pagename %}Строительство жилых зданий{% endblock pagename %}
{% block startimagelink %}
    {% static "deps/images/bg_3.jpg" %} 
{% endblock startimagelink %}

{% block keywords %}Строительство{% endblock keywords %}

{% block paragraph %}

{% endblock paragraph %}

{% block info %}
<p>
  <img src="{% static "deps/images/building1.jpg" %}" alt="" class="img-fluid">
</p>
<h2 class="mb-3">Из чего состоит данный этап нашей работы</h2>
<p>Строительство жилых зданий — это комплексный процесс, включающий несколько этапов и множество аспектов:</p>
<ul>
  <li>Предпроектные работы</li>
  <ul>
    <li><b>Иссследование участка</b> - Оценка геологических, гидрологических и экологических условий.</li>
    <li><b>Выбор типа здания</b> - Определение, будет ли это многоквартирный дом, таунхаус, индивидуальный жилой дом и т.д.</li>
    <li><b>Согласование с местными органами</b> - Получение разрешений на строительство и согласование проекта.</li>
  </ul>
  <li>Проектирование</li>
  <ul>
    <li><b><a href="{% url "projection" %}">Архитектурное проектирование</a></b> - Создание архитектурных планов, фасадов и интерьеров.</li>
    <li><b><a href="{% url "engineering" %}">Инженерные системы</a></b> - Проектирование систем водоснабжения, канализации, электроснабжения, отопления и вентиляции.</li>
    <li><b>Сметная документация</b> - Оценка стоимости строительства и составление сметы.</li>
  </ul>
  <li>Подготовка площадки</li>
  <ul>
    <li><b>Очистка участка</b> - Удаление растительности, старых зданий и мусора (при необходимости).</li>
    <li><b>Выемка грунта</b> - Подготовка котлована для фундамента.</li>
    <li><b>Укрепление склонов</b> - Если участок находится на склоне, могут потребоваться работы по укреплению.</li>
  </ul>
  <li>Строительство фундамента</li>
  <ul>
    <li><b>Выбор типа фундамента</b> - Ленточный, плитный или столбчатый в зависимости от типа грунта и нагрузки.</li>
    <li><b>Армирование и заливка</b> - Установка арматуры и заливка бетона.</li>
  </ul>
  <li>Возведение конструкции</li>
  <ul>
    <li><b>Стены</b> - Постройка несущих и ненесущих стен из кирпича, бетона или других материалов.</li>
    <li><b>Перекрытия</b> - Монтаж перекрытий между этажами (железобетонные плиты, деревянные балки и т.д.).</li>
    <li><b><a href="{% url "decoration" %}">Кровля</a></b> - Установка крыши, включая стропила и кровельное покрытие.</li>
  </ul>
  <li>Инженерные сети</li>
  <ul>
    <li><b>Электрические системы</b> - Прокладка проводки, установка розеток и освещения.</li>
    <li><b>Водоснабжение и канализация</b> - Монтаж трубопроводов и сантехнических приборов.</li>
    <li><b>Отопление и вентиляция</b> - Установка котлов, радиаторов и систем кондиционирования.</li>
  </ul>
  <li>Отделочные работы</li>
  <ul>
    <li><b><a href="{% url "decoration" %}">Внутренняя отделка</a></b> - Штукатурка, покраска стен, укладка плитки и паркетных полов.</li>
    <li><b>Наружная отделка</b> - Фасадные работы, утепление и отделка внешних стен.</li>
  </ul>
  <li>Ландшафтные работы</li>
  <ul>
    <li><b>Благоустройство территории</b> - Устройство дорожек, озеленение, установка заборов и освещения.</li>
  </ul>
  <li>Завершение строительства</li>
  <ul>
    <li><b>Проверка соответствия проекту</b> - Инспекция выполненных работ на соответствие проектной документации.</li>
    <li><b>Получение разрешения на ввод в эксплуатацию</b> - Согласование всех инстанций для начала эксплуатации здания.</li>
  </ul>
  <li>Передача объекта заказчику</li>
  <ul>
    <li><b>Документация</b> - Передача всех необходимых документов (технический паспорт, акты выполненных работ).</li>
    <li><b>Гарантии и обслуживание</b> - Обсуждение гарантийных сроков на выполненные работы и материалы.</li>
  </ul>
</ul>
<p>Каждый из этих этапов требует тщательной организации, планирования и координации действий различных специалистов, таких как архитекторы, инженеры, строители и отделочники. Наши специалисты проведут вас по каждому из этапов от первого звонка, вплоть до решения вопросов во время эксплуатации, согласно предоставленной гарантии обслуживания!</p>
{% endblock info %}
