{% extends "main/basetypes.html" %}
{% load static %}


{% block pagename %}Внутренняя отделка{% endblock pagename %}
{% block startimagelink %}
    {% static "deps/images/bg_3.jpg" %} 
{% endblock startimagelink %}

{% block keywords %}Внутренняя отделка{% endblock keywords %}


{% block info %}
<p>
  <img src="{% static "deps/images/decor1.jpg" %}" alt="" class="img-fluid">
</p>
<h2 class="mb-3">внутренняя отделка — это не только вопрос эстетики</h2>
<p>внутренняя отделка —  ключевой фактор, влияющий на комфорт, функциональность и здоровье жильцов. Качественная отделка делает дом более привлекательным и уютным местом для жизни. Вот несколько основных этапов проведения внутренней отделки, которыми занимается бригада наших специалистов:</p>
<ul>
  <li>Подготовка к внутренней отделке</li>
  <ul>
    <li><b>Оценка состояния помещения</b> - Проверка стен, пола и потолка на наличие дефектов.</li>
    <li><b>Планирование</b> - Определение стиля, выбор материалов и создание бюджета.</li>
    <li><b>Проектирование</b> - Разработка плана расстановки мебели и элементов декора.</li>
  </ul>
  <li>Гидроизоляция и утепление</li>
  <ul>
    <li><b>Гидроизоляция</b> - Защита от влаги (особенно в ванных комнатах и кухнях).</li>
    <li><b>Утепление</b> - Установка теплоизоляционных материалов для повышения энергоэффективности.</li>
  </ul>
  <li>Черновая отделка</li>
  <ul>
    <li><b>Стены</b> - Выравнивание стен (штукатурка, гипсокартон) и установка перегородок (если необходимо).</li>
    <li><b>Полы</b> - Выравнивание основания (стяжка) и укладка подложки.</li>
    <li><b>Потолки</b> - Установка натяжных или подвесных потолков.</li>
  </ul>
  <img src="{% static "deps/images/decor3.jpg" %}" alt="" class="img-fluid">
  <li>Чистовая отделка</li>
  <ul>
    <li><b>Стены</b></li>
    <ul>
      <li>Покраска или обои;</li>
      <li>Облицовка плиткой или панелями.</li>
    </ul>
    <li><b>Полы</b> - Укладка ламината, паркета или плитки.</li>
    <li><b>Потолки</b> - Окончательная отделка потолков (покраска, панелирование).</li>
  </ul>
  <li>Установка сантехники и электрики</li>
  <ul>
    <li><b>Электрика</b></li>
    <ul>
      <li>Проведение проводов, установка розеток и выключателей;</li>
      <li>Монтаж освещения.</li>
    </ul>
    <li><b>Сантехника</b> - Установка раковин, ванн, унитазов и других сантехнических приборов.</li>
  </ul>
  <li>Двери и окна</li>
  <ul>
    <li><b>Установка дверей</b> - Входные и межкомнатные двери.</li>
    <li><b>Окна</b> - Установка подоконников и откосов.</li>
  </ul>
  <li>Отделка интерьера</li>
  <ul>
    <li><b>Мебель и декор</b> - Выбор и расстановка мебели, текстиля, аксессуаров.</li>
    <li><b>Финальные штрихи</b> - Картины, ковры, растения.</li>
  </ul>
</ul>
<img src="{% static "deps/images/decor4.jpg" %}" alt="" class="img-fluid">
{% endblock info %}
