{% extends "main/basetypes.html" %}
{% load static %}


{% block pagename %}Ландшафтный дизайн{% endblock pagename %}
{% block startimagelink %}
    {% static "deps/images/bg_3.jpg" %} 
{% endblock startimagelink %}

{% block keywords %}Ландшафтный дизайн{% endblock keywords %}


{% block info %}
<p>
  <img src="{% static "deps/images/design1.jpg" %}" alt="" class="img-fluid">
</p>
<h2 class="mb-3">Благоустройство и озеленение любой сложности, от идеи до первой прогулки в вашем саду!</h2>
<p>Грамотно и качественно составленный дизайн-проект –это залог успеха на пути к красивому и комфортному саду. Проект помогает избежать ошибок, стоящих Вашего времени и денег. Основные шаги к достижению успеха в этом непростом деле:</p>
<li>Анализ участка</li>
<ul>
  <li><b>Изучение территории</b> - Оценка размеров, формы и рельефа участка, а также существующие элементы (деревья, кустарники, водоемы).</li>
  <li><b>Климатические условия</b> - Мы проводим анализ на особенности климата, такие как уровень солнечного света, ветер и осадки, которые влияют на выбор растений и материалов.</li>
</ul>
<li>Определение стиля</li>
<ul>
  <li><b>Выбор стиля</b> - Вместе с вами решаем, какой стиль ландшафтного дизайна будет соответствовать архитектуре дома (классический, современный, японский и т.д.).</li>
  <li><b>Создание концепции</b> - Команда профессионалов разрабатывает общую концепцию, которая включает в себя цветовую гамму, текстуры и материалы.</li>
</ul>
<img src="{% static "deps/images/design2.jpg" %}" alt="" class="img-fluid">
<li>Планирование</li>
<ul>
  <li><b>Зонирование</b> - Определяем функциональные зоны (зона отдыха, сад, огород, детская площадка) и их расположение относительно дома.</li>
  <li><b>Составление плана</b> - Создаём подробный план участка с указанием всех элементов (дороги, дорожки, посадки растений и т. д.).</li>
</ul>
<li>Выбор растений</li>
<ul>
  <li><b>Подбор растительности</b> - Вместе с Вами выбираем растения в зависимости от климатических условий, почвы и освещения. Тут важен учёт их высоты, цветение и сезонные изменения, советуем предусмотреть это заранее.</li>
  <li><b>Композиция</b> - Создаём гармоничные композиции из различных растений, чтобы обеспечить интересный визуальный эффект в течение всего года.</li>
</ul>
<li>Устройство инфраструктуры</li>
<ul>
  <li><b>Дорожки и площадки</b> - Обсуждаем план и строим дорожки, террасы и площадки для отдыха.</li>
  <li><b>Полив и освещение</b> - Устанавливаем системы полива и освещения, которые будут удобны и функциональны.</li>
</ul>
<img src="{% static "deps/images/design3.jpg" %}" alt="" class="img-fluid">
<li>Реализация проекта</li>
<ul>
  <li><b>Работы по благоустройству</b> - Начинаем с подготовки участка (выравнивание, удаление ненужных объектов), затем переходим к посадке растений и установке элементов инфраструктуры.</li>
  <li><b>Монтаж конструкций</b> - Устанавливаем малые архитектурные формы (беседки, перголы) и элементы декора (скульптуры, фонтанчики).</li>
</ul>
{% endblock info %}
