{% extends "main/basetypes.html" %}
{% load static %}


{% block pagename %}Ипотека{% endblock pagename %}
{% block startimagelink %}
    {% static "deps/images/bg_3.jpg" %} 
{% endblock startimagelink %}

{% block keywords %}Ипотека{% endblock keywords %}


{% block info %}
<p>
  <img src="{% static "deps/images/ipoteka1.jpg" %}" alt="" class="img-fluid">
</p>
<h2 class="mb-3">Сопровождаем на всех этапах документооборота!</h2>
<p>Компания ПавловСтрой предоставляет широкий спектр юридических услуг. Если вы решили построить дом с ипотечным кредитованием - мы сопроводим вас на всех этапах оформления бумаг. Цель нашего юридического отдела - создание максимально комфортных условий для нашего клиента на всех этапах оформления ипотеки.</p>
<li><b>Объяснение условий</b> - Помощь в понимании различных ипотечных программ и условий кредитования.</li>
<li><b>Подбор банка</b> - Рекомендации по выбору банка или кредитной организации, предлагающей наиболее выгодные условия.</li>
<li><b>Сопровождение сделок</b> - Помощь в подготовке и оформлении всех необходимых документов для получения ипотеки.</li>
<li><b>Разрешения на строительство</b> - ПавловСтрой сам займётся всем документооборотом, мы относимся с уважением к вашему времени!</li>

{% endblock info %}
